n8n/raporları_temiz_gormek_icin.json
{
  "name": "raporları_temiz_gormek_icin",
  "nodes": [
    {
      "parameters": {
        "path": "reports-viewer",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "eff2b57d-bdbc-4374-bb82-8408737fc5e5",
      "name": "Rapor Paneli Tetikleyici",
      "webhookId": "81d1e7ec-9ec0-4ae9-9c50-8d997fc496e5"
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/scenarios/reports-panel",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $json.query.file }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "457d4ace-d4af-4259-bfb7-d875b5f8ec02",
      "name": "Express Rapor Servisi"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.data }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              },
              {
                "name": "charset",
                "value": "utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "26911124-0ddc-49a5-a9e1-a8286e0fed3e",
      "name": "Paneli Ekrana Bas"
    }
  ],
  "pinData": {},
  "connections": {
    "Rapor Paneli Tetikleyici": {
      "main": [
        [
          {
            "node": "Express Rapor Servisi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Express Rapor Servisi": {
      "main": [
        [
          {
            "node": "Paneli Ekrana Bas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "7718a0ef-e67c-4921-a73f-9b800d1a20a8",
  "meta": {
    "instanceId": "ccd5402a9151423bbb2ebf6b5173d0074df8f9e5c1158b8348041db7bb063468"
  },
  "nodeGroups": [],
  "id": "iIXxlZ0LR44tYXxU",
  "tags": []
}