n8n/secilen_test_senaryosu_calistirma.json
{
  "name": "seçilen test senaryosu çalıştırma",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/run-single-sync",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "scenarioName",
              "value": "={{ $json.scenarios }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        -96
      ],
      "id": "f74963fd-0777-4e7e-8208-a1771aac7ec0",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        -96
      ],
      "id": "58668278-49a0-438e-93d2-c58058dc3fc4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/list-scenarios",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -528,
        -96
      ],
      "id": "575b7ea7-cb74-427e-a1c6-413744787246",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "scenarios",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -336,
        -96
      ],
      "id": "4b266b33-faaa-4b95-9b2b-7b7ecff09050",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a512cc3d-5c56-4f72-a086-d4cd7028ac71",
              "leftValue": "={{ $json.scenarios }}",
              "rightValue": "ai-prompts",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -160,
        -96
      ],
      "id": "1140bb44-2f4d-4203-a912-e3df950159e1",
      "name": "Filter"
    },
    {
      "parameters": {
        "content": "Filter Node içinde :\nConditions\nValue1: Değişmeyecek\nValue2: Split Out tarafından gelen senaryo listelerinden çalıştırmak istediğiniz senaryonun adını birebir buraya girmeniz gerek",
        "height": 144,
        "width": 560,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        -288
      ],
      "id": "4ab8a513-fe60-4e87-872d-474617daff17",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "814346a7-5b7f-4ef1-9642-abc21c6ea038",
  "meta": {
    "instanceId": "ccd5402a9151423bbb2ebf6b5173d0074df8f9e5c1158b8348041db7bb063468"
  },
  "nodeGroups": [],
  "id": "V6M7RPFUMQsx4A31",
  "tags": []
}