n8n/test senaryosu oluşturma.json
{
  "name": "test senaryosu oluşturma",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "52016d96-05a2-41b0-bd69-eee426db3ac4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec12c72f-149a-43af-834c-22570a5637a8",
              "name": "scenarioName",
              "value": "dpu-iletisim-testi",
              "type": "string"
            },
            {
              "id": "c299ab40-ccd3-40cb-957e-d6cf0b51e832",
              "name": "targetUrl",
              "value": "https://www.dpu.edu.tr/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "42743158-cfa8-417d-8a55-9ef3ef473ce5",
      "name": "Senaryo Ayarları"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec283be5-1aac-4634-9010-b2ac4d1fb1ae",
              "name": "type",
              "value": "act",
              "type": "string"
            },
            {
              "id": "951e720a-20ac-4e76-98a2-97e3863a0b40",
              "name": "instruction",
              "value": "Focus and click on the input text field.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "85d28bc7-b2b5-4404-a8dd-20ecdbf5e814",
      "name": "Adım 1 - Tıkla"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9e7d198-7282-4027-8c12-21e84ec3fa3a",
              "name": "type",
              "value": "extract",
              "type": "string"
            },
            {
              "id": "17a2fede-fa69-47cb-9c07-360e902c3604",
              "name": "instruction",
              "value": "Verify if the text Arama Sonuçları appears.",
              "type": "string"
            },
            {
              "id": "c89b4869-7070-4fae-bb87-4c105afdd5b0",
              "name": "field",
              "value": "hasResults",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "7521efc6-90d1-4a74-8b6e-3b0a57ff09ab",
      "name": "Adım 2 - Doğrula"
    },
    {
      "parameters": {
        "jsCode": "// Node.js'in yerleşik dosya sistemi modülünü içeri alıyoruz\nconst fs = require('fs');\nconst path = require('path');\n\n// 1. En baştaki 'Senaryo Ayarları' nodundan ana bilgileri çekiyoruz\nconst scenarioName = $('Senaryo Ayarları').first().json.scenarioName;\nconst targetUrl = $('Senaryo Ayarları').first().json.targetUrl;\n\nconst steps = [];\nconst stepNodeNames = ['Adım 1 - Tıkla', 'Adım 2 - Doğrula'];\n\nfor (const nodeName of stepNodeNames) {\n    try {\n        const nodeData = $(nodeName).first().json;\n        if (nodeData && nodeData.type) {\n            let stepObj = {\n                type: nodeData.type,\n                instruction: nodeData.instruction\n            };\n            if (nodeData.field) {\n                stepObj.field = nodeData.field;\n            }\n            steps.push(stepObj);\n        }\n    } catch (error) {\n        console.warn(`Düğüm okunurken hata oluştu (${nodeName}):`, error.message);\n    }\n}\n\n// 2. Oluşturulacak temiz JSON metni\nconst finalJsonData = {\n  targetUrl: targetUrl,\n  steps: steps\n};\n\n// 3. Hedef dosya yolunu ve adını belirliyoruz\nconst targetFolder = 'C:/Users/feyza/Desktop/test-tool/scenarios';\nconst fullPath = path.join(targetFolder, `${scenarioName}.json`);\n\ntry {\n    // Klasörün varlığını kontrol et, yoksa oluştur\n    if (!fs.existsSync(targetFolder)){\n        fs.mkdirSync(targetFolder, { recursive: true });\n    }\n\n    // Dosyayı n8n katmanlarını aradan çıkararak direkt Node.js ile diske çakıyoruz kanka\n    fs.writeFileSync(fullPath, JSON.stringify(finalJsonData, null, 2), 'utf-8');\n    \n    return [{\n      json: {\n        status: \"Başarılı\",\n        message: `Senaryo başarıyla oluşturuldu: ${scenarioName}.json`,\n        savedPath: fullPath\n      }\n    }];\n\n} catch (writeError) {\n    // Bir hata olursa n8n ekranında görebilelim\n    return [{\n      json: {\n        status: \"Hata\",\n        message: writeError.message\n      }\n    }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "f414e936-6324-4ec6-b961-d10168fd441d",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Senaryo Ayarları",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Senaryo Ayarları": {
      "main": [
        [
          {
            "node": "Adım 1 - Tıkla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adım 1 - Tıkla": {
      "main": [
        [
          {
            "node": "Adım 2 - Doğrula",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adım 2 - Doğrula": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "05d320db-9951-4b77-9599-37b9dda41c87",
  "meta": {
    "instanceId": "ccd5402a9151423bbb2ebf6b5173d0074df8f9e5c1158b8348041db7bb063468"
  },
  "nodeGroups": [],
  "id": "g29o6cdVIEoNsosv",
  "tags": []
}