n8n/toplu_test_senaryosu_calistirma.json
{
  "name": "toplu test senaryosu çalıştırma",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -48
      ],
      "id": "b7408172-b1fc-45a1-beca-476f20a5d234",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/list-scenarios",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        -48
      ],
      "id": "18f1259e-c4d4-4fc0-9748-e049be393906",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const scenarios = $('HTTP Request1').first().json.scenarios;\nreturn scenarios.map(name => ({ json: { runScenarioName: name } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -48
      ],
      "id": "7753c612-ac20-4d37-beb5-355745a55746",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        -48
      ],
      "id": "0aeb6281-fca2-48a1-b6a6-4253f078caaa",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/run-single-sync",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "scenarioName",
              "value": "={{ $json.runScenarioName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        160
      ],
      "id": "b033d63c-b37e-4d0d-981c-c9862339b7c9",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "content": "Scenarios/ klasörü içindeki BÜTÜN testler sıra sıra çalışacak ve hepsi terminal çıktılarını reports/ klasörü içine kaydedecek\nEğer tek bir senaryoyu test etmek isterseniz \"seçilen test senaryosu çalıştırma\" workflowuna gidebilirsiniz",
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        144
      ],
      "id": "de00c0de-c8f3-4bd6-a737-88538bb8a41b",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "82e18975-d5b3-4686-a9b9-d4651c713098",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ccd5402a9151423bbb2ebf6b5173d0074df8f9e5c1158b8348041db7bb063468"
  },
  "nodeGroups": [],
  "id": "NQ5MQ0ftlegLHRoU",
  "tags": []
}